{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-content">
      <div id="content">
        <header>
          <div class="cover bg-light">
            <div class="container px-3">
              <div class="row">
                <div class="col-lg-6 p-2">
                  <img
                    class="img-fluid"
                    src="{% static 'images/illustrations/hello3.svg' %}"
                    alt="hello"
                  />
                </div>
                <div class="col-lg-6">
                  <div class="mt-5">
                    <p class="lead text-uppercase mb-1">سلام!</p>
                    <h1
                      class="intro-title marker"
                      data-aos="fade-left"
                      data-aos-delay="50"
                    >
                      من جواد نواب زاده هستم
                    </h1>
                    <p
                      class="lead fw-normal mt-3"
                      data-aos="fade-up"
                      data-aos-delay="100"
                    >
                      طراح سایت و برنامه نویس python
                    </p>
                    <div
                      class="social-nav"
                      data-aos="fade-up"
                      data-aos-delay="200"
                    >
                      <nav role="navigation">
                        <ul class="nav justify-content-left">
                          <li class="nav-item">
                            <a
                              class="nav-link"
                              href="https://twitter.com/javadnavabzadeh"
                              title="Twitter"
                              ><i class="fab fa-twitter"></i
                              ><span class="menu-title sr-only"
                                >Twitter</span
                              ></a
                            >
                          </li>
                          <li class="nav-item">
                            <a
                              class="nav-link"
                              href="https://www.instagram.com/javad._navvab"
                              title="Instagram"
                              ><i class="fab fa-instagram"></i
                              ><span class="menu-title sr-only"
                                >Instagram</span
                              ></a
                            >
                          </li>
                          <li class="nav-item">
                            <a
                              class="nav-link"
                              href="https://github.com/javad-navab"
                              title="Github"
                              ><img
                                width="22"
                                height="22"
                                src="https://img.icons8.com/ios-glyphs/30/github.png"
                                alt="github"
                            /></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="mt-3" data-aos="fade-up" data-aos-delay="200">
                      <a
                        class="btn btn-primary shadow-sm mt-1 hover-effect"
                        href="#contact"
                        >در تماس باشید<i class="fas fa-arrow-left me-1"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wave-bg"></div>
        </header>
        <div class="section pt-4 px-3 px-lg-4" id="about">
          <div class="container-narrow">
            <div class="row">
              <div class="col-md-6">
                <h2 class="h4 my-2">سلام من جواد نواب زاده هستم</h2>
                <p>
                  من دانشجوی کارشناسی رشته مهندسی کامپیوتر گرایش نرم افزار هستم و برنامه نویس python و فریمورک Django مسلط به HTML,CSS و پایگاه داده های مرتبط با فریمورک جنگو
                </p>
                <div class="row mt-3">
                  <div class="col-sm-2">
                    <div class="pb-1">سن:</div>
                  </div>
                  <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">20</div>
                  </div>
                  <div class="col-sm-2">
                    <div class="pb-1">ایمیل:</div>
                  </div>
                  <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">javadnavabzadeh@yahoo.com</div>
                  </div>
                  <div class="col-sm-2">
                    <div class="pb-1">شماره همراه:</div>
                  </div>
                  <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">00000000000</div>
                  </div>
                  <div class="col-sm-2">
                    <div class="pb-1">آدرس:</div>
                  </div>
                  <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">سیستان و بلوچستان ، زاهدان</div>
                  </div>
                  <div class="col-sm-2">
                    <div class="pb-1">وضعیت:</div>
                  </div>
                  <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">در دسترس</div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-5 offset-md-1"
                data-aos="fade-left"
                data-aos-delay="100"
              >
                <img
                  class="avatar img-fluid mt-2"
                  src="{% static 'images/IMG_3234.jpg' %}"
                  width="400"
                  height="400"
                  alt="Javad Navabzadeh"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="section px-3 px-lg-4 pt-5" id="services">
          <div class="container-narrow">
            <div class="text-center mb-5">
              <h2 class="marker_1 marker-center">خدمات من</h2>
            </div>
            <div class="text-center">
              <p class="mx-auto mb-3" style="max-width: 600px">
                من خدمات مربوط به طراحی وب سایت را در کمترین زمان ممکن با کیفیت قابل قبولی به شما ارائه می دهم.
              </p>
            </div>
            <div class="row py-3">
              <div
                class="col-md-3 text-center"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <img
                  class="mb-2"
                  src="{% static 'images/services/web-design.svg' %}"
                  width="96"
                  height="96"
                  alt="web design"
                />
                <div class="h5">طراحی ظاهر صفحه وب</div>
              </div>
              <div
                class="col-md-3 text-center"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <img
                  class="mb-2"
                  src="{% static 'images/services/graphic-design.svg' %}"
                  width="96"
                  height="96"
                  alt="graphic design"
                />
                <div class="h5">طراحی Back-end</div>
              </div>
              <div
                class="col-md-3 text-center"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <img
                  class="mb-2"
                  src="{% static 'images/services/ui-ux.svg' %}"
                  width="96"
                  height="96"
                  alt="ui-ux"
                />
                <div class="h5">UI/UX</div>
              </div>
              <div
                class="col-md-3 text-center"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <img
                  class="mb-2"
                  src="{% static 'images/services/app-development.svg' %}"
                  width="96"
                  height="96"
                  alt="app development"
                />
                <div class="h5">طراحی واکنش گرا</div>
              </div>
            </div>
          </div>
        </div>
        <div class="section px-3 px-lg-4 pt-5" id="skills">
          <div class="container-narrow">
            <div class="text-center mb-5">
              <h2 class="marker_1 marker-center">توانایی من</h2>
            </div>
            <div class="text-center">
              <p class="mx-auto mb-3" style="max-width: 600px">
              من برای طراحی ظاهر صفحات وب به صورت واکنش گرا و طراحی Back-end صفحات وبسایت آماده شدم.
              </p>
            </div>
            <div class="bg-light p-3">
              <div class="row">
                <div class="col-md-5">
                  <div class="py-1">
                    <div class="d-flex text-small fw-bolder">
                      <span class="me-auto">HTML5</span><span>90%</span>
                    </div>
                    <div class="progress my-1">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        data-aos="zoom-in-right"
                        data-aos-delay="100"
                        data-aos-anchor=".skills-section"
                        style="width: 90%"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="py-1">
                    <div class="d-flex text-small fw-bolder">
                      <span class="me-auto">CSS3</span><span>90%</span>
                    </div>
                    <div class="progress my-1">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        data-aos="zoom-in-right"
                        data-aos-delay="200"
                        data-aos-anchor=".skills-section"
                        style="width: 90%"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="py-1">
                    <div class="d-flex text-small fw-bolder">
                      <span class="me-auto">Django</span><span>75%</span>
                    </div>
                    <div class="progress my-1">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        data-aos="zoom-in-right"
                        data-aos-delay="300"
                        data-aos-anchor=".skills-section"
                        style="width: 75%"
                        aria-valuenow="75"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 offset-md-2">
                  <div class="py-1">
                    <div class="d-flex text-small fw-bolder">
                      <span class="me-auto">WordPress</span><span>80%</span>
                    </div>
                    <div class="progress my-1">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        data-aos="zoom-in-right"
                        data-aos-delay="500"
                        data-aos-anchor=".skills-section"
                        style="width: 80%"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="py-1">
                    <div class="d-flex text-small fw-bolder">
                      <span class="me-auto">MySQL</span><span>70%</span>
                    </div>
                    <div class="progress my-1">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        data-aos="zoom-in-right"
                        data-aos-delay="600"
                        data-aos-anchor=".skills-section"
                        style="width: 70%"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section px-2 px-lg-4 pt-5" id="portfolio">
          <div class="container">
            <div class="text-center mb-5">
              <h2 class="marker_1 marker-center">نمونه کارها</h2>
            </div>
            <div
              class="grid bp-gallery pb-3"
              data-aos="zoom-in-up"
              data-aos-delay="100"
            >
              <div class="grid-sizer"></div>
              <div class="grid-item">
                <a href="https://github.com/javad-navab/project-2/tree/main">
                  <figure class="portfolio-item">
                    <img
                      src="{% static 'images/portfolio/1-small.png' %}"
                      data-bp="{% static 'images/portfolio/1.jpg' %}"
                    />
                    <figcaption>
                      <h4 class="h5 mb-0">Web Design</h4>
                      <div></div>
                    </figcaption>
                  </figure></a>
              </div>
            </div>
          </div>
        </div>
        <div class="section px-3 px-lg-4 pt-5" id="experience">
          <div class="container-narrow">
            <div class="text-center mb-5">
              <h2 class="marker_1 marker-center">تجربیات</h2>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div
                  class="card mb-3"
                  data-aos="fade-right"
                  data-aos-delay="100"
                >
                  <div class="card-header px-3 py-2">
                    <div class="d-flex justify-content-between">
                      <div>
                        <h3 class="h5 mb-1">Wordpress</h3>
                        <div class="text-muted text-small">
                          داده پردازان رایان <small>1400-1402</small>
                        </div>
                      </div>
                      <img
                        src="{% static 'images/services/web-design.svg' %}"
                        width="48"
                        height="48"
                        alt="ui-ux"
                      />
                    </div>
                  </div>
                  <div class="card-body px-3 py-2">
                    <p>
                      طراحی سایت های وردپرسی برای کسب و کارهای کوچک و خانگی نقش به سزایی در افزایش میزان فروش آن ها خواهد داشت و از نظر هزینه مقرون به صرفه است.
                    </p>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-12">
                <div
                  class="card mb-3"
                  data-aos="fade-right"
                  data-aos-delay="200"
                >
                  <div class="card-header px-3 py-2">
                    <div class="d-flex justify-content-between">
                      <div>
                        <h3 class="h5 mb-1">طراحی صفحه های وب</h3>
                        <div class="text-muted text-small">
                         <small>(1399-1402)</small>
                        </div>
                      </div>
                      <img
                        src="{% static 'images/services/web-design.svg' %}"
                        width="48"
                        height="48"
                        alt="web design"
                      />
                    </div>
                  </div>
                  <div class="card-body px-3 py-2">
                    <p>
                      طراحی های واکنش گرا و دارای پالت های رنگی جذاب باعث زیبایی وجذابیت صفحات شما در دید کاربران بازدید کننده وب سایت شما می شود و در نتیجه میزان بازدید سایت شما افزایش خواهد یافت.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div
                  class="card mb-3"
                  data-aos="fade-left"
                  data-aos-delay="400"
                >
                  <div class="card-header px-3 py-2">
                    <div class="d-flex justify-content-between">
                      <div>
                        <h3 class="h5 mb-1">طراح فول استک</h3>
                        <div class="text-muted text-small">
                        <small>(1402-)</small>
                        </div>
                      </div>
                      <img
                        src="{% static 'images/services/full-stack.svg' %}"
                        width="48"
                        height="48"
                        alt="full stack"
                      />
                    </div>
                  </div>
                  <div class="card-body px-3 py-2">
                    <p>
                      طراحی فول استک تمامی صفحات وب شما به وسیله فریمورک جنگو 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
          <div class="container-narrow">
            <div class="text-center mb-5">
              <h2 class="marker_1 marker-center">تماس با من</h2>
            </div>
            <div class="row">
              <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="bg-light my-2 p-3 pt-2">
                  <form
                    action="https://formspree.io/your@email.com"
                    method="POST"
                  >
                    <div class="form-group my-2">
                      <label for="name" class="form-label fw-bolder"
                        >نام</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="name"
                        name="name"
                        required
                      />
                    </div>
                    <div class="form-group my-2">
                      <label for="email" class="form-label fw-bolder"
                        >ایمیل</label
                      >
                      <input
                        class="form-control"
                        type="email"
                        id="email"
                        name="_replyto"
                        required
                      />
                    </div>
                    <div class="form-group my-2">
                      <label for="message" class="form-label fw-bolder"
                        >پبام</label
                      >
                      <textarea
                        class="form-control"
                        style="resize: none"
                        id="message"
                        name="message"
                        rows="4"
                        required
                      ></textarea>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">
                      ارسال
                    </button>
                  </form>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
                <div class="mt-3 px-1">
                  <div class="h5">بایید درباره اینکه چگونه میتوانم به شما کمک کنم صحبت کنیم!</div>
                  <p>
                    اگر از نمونه کارهای من خوشتان آمده پس یک پیام برای من ارسال کنید.
                  </p>
                  <p>
                    یا از طریق ایمیل و شماره تماس من با من ارتبط بگیرید
                  </p>
                  <p>به زودی میبینمتون!</p>
                </div>
                <div class="mt-53 px-1">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="pb-1">ایمیل:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">javadnavabzadeh@yahoo.com</div>
                    </div>
                    <div class="col-sm-2">
                      <div class="pb-1">شماره همراه:</div>
                    </div>
                    <div class="col-sm-10">
                      <div class="pb-1 fw-bolder">00000000000</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="pt-4 pb-4 text-center bg-light">
          <div class="container">
            <div class="my-3">
              <div class="h4">جواد نواب زاده</div>
              <p>طراح وب و برنامه نویس پایتون</p>
              <div class="social-nav">
                <nav role="navigation">
                  <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="https://twitter.com/javadnavabzadeh"
                        title="Twitter"
                        ><i class="fab fa-twitter"></i
                        ><span class="menu-title sr-only">Twitter</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="https://www.instagram.com/javad._navvab"
                        title="Instagram"
                        ><i class="fab fa-instagram"></i
                        ><span class="menu-title sr-only">Instagram</span></a
                      >
                    </li>

                  </ul>
                </nav>
              </div>
            </div>
            <div class="text-small text-secondary">
              <div class="mb-1">&copy; Super Folio. All rights reserved.</div>
              <div>
                <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Design
                -
                <a href="https://templateflip.com/" target="_blank"
                  >TemplateFlip</a
                >
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div id="scrolltop">
      <a class="btn btn-secondary" href="#top"
        ><span class="icon"><i class="fas fa-angle-up fa-x"></i></span
      ></a>
    </div>
  {% endblock %}